# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
.gemini/

# OS
.DS_Store
Thumbs.db

# Project specific
.expo/
data/prediction_results.csv
